//COlORES
$color-1: #fff;
$color-2: #000;
$color-main-1: rgb(98, 228, 98);
$color-main-2: rgb(157, 135, 235);
$shadow-color: #000;



//FONT
$default-font-size: 1.6rem;


//FORM
$button-radius: 10rem;
$box-shadow-act:0 0.5rem 1rem 1rem rgba($shadow-color, 0.3);
$box-shadow-how:0 0.5rem 1rem 1rem rgba($shadow-color, 0.2);

//HOVER
$animation-button: all 0.3s;